{% load i18n adminmedia %}

<script type="text/javascript">
// <![CDATA[
var CropDuster = (typeof window.CropDuster != 'undefined') ? CropDuster : {};
CropDuster.staticUrl = {{ static_url|safe }};
CropDuster.uploadUrl = '{% url cropduster.views.upload %}?pop=1';
// ]]>
</script>
    <input type="{% if is_formset_render %}hidden{% else %}text{% endif %}"
           id="{{ final_attrs.id }}"
           name="{{ final_attrs.name }}"
           {% if is_formset_render %}
           value="{{ final_attrs.value }}" class="cropduster-data-field cropduster-id-field"
           {% else %}
           value="{{ image_value }}" class="cropduster-data-field cropduster-text-field"
           {% endif %}
           data-sizes="{{ final_attrs.sizes }}"
           data-auto-sizes="{{ final_attrs.auto_sizes }}"
           data-default-thumb="{{ default_thumb }}"
           data-aspect-ratio="{{ aspect_ratio }}"
           data-formset-prefix="{{ prefix }}"
           data-min-size="{{ min_size }}"/>
    {% if is_formset_render  %}

    {{ formset.non_form_errors }}

    {% else %}
	<a href="#" class="cropduster-customfield cropduster-upload-form">
		<div class="rounded-button">Upload Image</div>
        <div style="clear:both; height:3px"></div>

		<p class="cropduster-preview help" id="preview_{{ final_attrs.id }}">
		    
            {% for name, url in thumbs.items %}
            
                        <script type="text/javascript">
                            var timestamp = (new Date()).getTime().toString(36);
                            document.write('<' + 'img id="{{ final_attrs.id }}_image_{{ name }}" ' +
                                           'src="{{ url|escapejs }}?v=' + timestamp +
                                           '" class="preview{% if forloop.first %} first{% endif %}" /'+
                                           '>');
                        </script>
            
            {% endfor %}
		</p>
	</a>
    {% endif %}